<script id="tmpl-LoginView" type="text/html">
  <div class="LoginView container">
  <div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#loginForm" data-toggle="tab">Sign in</a></li>
    <li><a href="#register" data-toggle="tab">Register</a></li>
  </ul>
   <div class="tab-content">
  <div class="tab-pane active" id="loginForm">
    <form name="loginForm">
        <h2 class="form-signin-heading">Sign in</h2>
        <input type="text" name="username" class="input-block-level" placeholder="Username">
        <input type="password" name="password" class="input-block-level" placeholder="Password">
        <button class="btn btn-large btn-primary" type="button">Sign in</button>
      </form>
      </div>
        <div class="tab-pane" id="register"> 
    <form name="registerForm" >
        <h2 class="form-signin-heading">Register</h2>
        <input type="text" name="username" id="userName" class="input-block-level" placeholder="Username">
        <input type="password" name="password" class="input-block-level" placeholder="Password">
        <button class="btn btn-large btn-primary" type="button">register</button>
      </form>
      </div>
      </div>
  </div>
  </div>

</script>  