<script id="tmpl-NavView" type="text/html">
	<div class="navbar navview">
	  <div class="navbar-inner">
	    <div class="container">
	      <div class="appname">Task Manager</div>
	      <div class="signout close">Sign out</div>
	    </div>
	  </div>
	</div>
</script>