<script id="tmpl-ProjectView" type="text/html">
	<div class="container-fluid projectView"> 
		<h3 class="header">Project</h3>
		<table class="table table-bordered projectTable">
			{{#each projectList}}
			<tr>
				<td>
				{{name}}
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
</script>  