<script id="tmpl-TicketView" type="text/html">
	<div class="container-fluid ticketView">
	  <table class="table ticketTable"> 
		{{#each ticketList}}
			<tr data-ticket-id={{id}} data-project-id={{projectId}}>
				<td>
					<div class="ticketName">{{name}}</div>
					<div class="ticketDate">--{{date}}</div>
					<div class="ticketContent">{{content}}</div>
					<div class="btns">
						<button class="close deleteTicketBtn" type="button">&times;</button>
					  <span class="close icon-pencil editTicketBtn"></span> 
					</div>
			  </td>
			</tr>
		{{/each}}
		</table>
	</div>
</script>  