<script id="tmpl-TicketView" type="text/html">
	<div class="container-fluid ticketView"> 
		<ul class="list">
		{{#each ticketList}}
			<li>{{name}}{{projectId}}</li>
		{{/each}}
		</ul>
	</div>
</script>  