@CHARSET "UTF-8";
.projectView{
	width:600px;
	margin:0 auto;
	margin-top: 200px;
	box-shadow:10px 10px 30px black;
	border-radius:20px;
	background-color: white;;
}

.header{
	text-align: center;
}
.projectTable td{
	text-align: left;;
}

.ticketBtn{
	float:right;
}

.projectName{
	float:left;
	width:80%;
	color:#74B6EB;
	font-size: 18px;
	cursor: pointer;
}

.deleteBtns{
	float:right;
}

.addTicketBtn{
	float:left;
	margin-right:10px;
}

.addProject{
	width:75%;
	margin-top:10px;
	margin-right:20px;
}