@CHARSET "UTF-8";
.ticketView{
	
}

.ticketView .ticketTable{
	float:left;
	width:100%;
}

.ticketView .ticketName{
	float:left;
	width:70%;
}

.ticketView .btns{
	float:right;
}
.ticketView .editTicketBtn{
	margin-right:20px;
}
.ticketView .deleteTicketBtn{
	margin-right:20px;
}

.ticketView .ticketContent{
	color:#5495B9;
	float:left;
	width:70%;
}
