@CHARSET "UTF-8";
.ticketView{
	
}

.ticketView .ticketTable{
	float:left;
	width:100%;
}

.ticketView .ticketName{
	float:left;
	width:70%;
	font-size:17px;
	
}

.ticketView .btns{
	float:right;
}
.ticketView .editTicketBtn{
	margin-right:20px;
}
.ticketView .deleteTicketBtn{
	margin-right:20px;
}

.ticketView .ticketContent{
	color:#5495B9;
	float:left;
	width:70%;
}

.ticketView .ticketDate{
	color:#6C5A86;
	float:left;
	margin-left:20px;
	width:70%;
}
